name: Run Tests

on:
    push:
        branches: [ main ]
    pull_request:
        branches: [ main ]

jobs:
    test:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/checkout@v5.0.0

            -   name: Install SDL2
                run: sudo apt-get update && sudo apt-get install -y libssl2-dev

            -   uses: dtolnay/rust-toolchain@nightly
                with:
                    components: clippy, rustfmt

            -   name: Cache Cargo registry
                uses: actions/cache@v4
                with:
                    path: |
                        ~/.cargo/registry
                        ~/.cargo/git
                        target
                        ~/.cargo/.crates2.json
                        ~/.cargo/.crates.toml
                    key: ${{ runner.os }}-cargo-registry-${{ hashFiles('**/Cargo.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-cargo-registry-

            -   name: Cache build artifacts
                uses: actions/cache@v4
                with:
                    path: target
                    key: ${{ runner.os }}-cargo-target-${{ hashFiles('**/Cargo.lock') }}
                    restore-keys: |
                        ${{ runner.os }}-cargo-target-

            -   name: Run tests
                run: cargo test --verbose --release

            -   name: Run clippy
                run: cargo clippy --all-targets --all-features -- -D warnings

            -   name: Check formatting
                run: cargo fmt --check

